body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #009579;
    /* Light gray background color */
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    /* White background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Light shadow for a card-like appearance */
}

h2 {
    color: black;
    /* Green color for the heading */
    text-align: center;


}

label {
    display: block;
    margin-top: 10px;
    color: #2ecc71;
    /* Green color for labels */
    font-weight: bold;


}

select,
input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    /* Light border */
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.error {
    color: red;
    margin-top: 5px;
}

.success {
    color: #2ecc71;
    /* Green color for success */
    font-size: 1.5em;
    /* Adjust the font size */
    text-align: center;
    font-weight: bold;
    /* Use bold font weight for emphasis */
    padding: 10px;
    /* Add padding for better spacing */
    border-radius: 5px;
    /* Rounded corners for a softer appearance */
    background-color: #fff;
    /* Light background color for contrast */
    margin: 10px 0;
    /* Add margin for separation from other elements */
}

button {
    background-color: #2ecc71;
    /* Green button color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
    /* Darker green color on hover */
}

.err {
    color: red;
}